.content {
    padding-top: 130px;
    padding-bottom: 200px;
    text-align: center;
}
.content.work {
    padding-top: 50px;
}
@media screen and (max-width: 767px) {
    .content {
        padding-top: 50px;
    }
}

.content-block {
    margin-bottom: 50px;
}

.content-block h2 {
    color: #24b685;
    font-size: 3.42857em;
    margin-bottom: 14px;
}
.content-block p {
    margin-bottom: 30px;
    color: #666;
    font-size: 1.143em;
    line-height: 1.8;
}
.content-block a, .content-block a:focus {
    color: #aaa;
    text-decoration: none !important;
}
.content-block a:hover {
    color: #24b685;
}

.content-block .green-words {
    display: block;
    
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 26px;
    
    font-size: 0.857em;
    color: #aaa;
    text-transform: uppercase;
}
.content-block .green-words.align {
    display: inline-block;
    
    width: auto;
}
.content-block .green-words.align::after {
    content: '/';
    display: inline-block;
    padding: 0 10px;
    color: #aaa !important;
}
.content-block .green-words.align:last-of-type::after {
    display: none;
}

/**
 * For individual work
 **/

.work .content-block strong { 
    color: #333 
}
.work .gallery strong { 
    color: #333 
}


.work .content-block h2 {
    margin-bottom: 40px;
}
.work .content-block h3 {
    color: #24b685;
    font-size: 2.286em;
    margin-bottom: 14px;
}
.work .content-block p {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 26px;
}
.work .content-block a {
    text-decoration: none !important;
}
.work .content-block a:hover {
    color: #24b685;
}
.work .gallery {
    margin-bottom: 7.143em;
}
.work .gallery img {
    width: 100%;
    max-width: 1800px;
    height: auto;
}

.work .gallery .infographic img {
    width: 100%;
    max-width: 800px;
    height: auto;
}


.work .gallery p {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 60px;
    color: #666;
    font-size: 1.143em;
    line-height: 1.8;
}

@media screen and (max-width: 767px) {
    .work .content-block {
        margin-bottom: 50px;
    }
    .work .gallery {
        margin-bottom: 6em;
    }
}

.new-sec-title {
  /* 標題文字 css */
  font-size: 26px;
  font-weight: bold;
  
  margin: 30px 0 30px;
}
.new-sec-title > span {
  position: relative;
}
.new-sec-title > span::after {
  content: '';

  position: absolute;
  left: 50%;
  top: 120%;  /* 距離文字多遠 */

  width: 50px;  /* 寬度 */
  height: 4px;  /* 高度 */
  margin-left: -25px;  /* 寬度的一半 */

  border-radius: 5px;  /* 圓角 */
  background-color: #24b685; /* 顏色 */

}


