<div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/checkout-app" class="work-item">
              <img src="img/projects/checkout-app.jpg" srcset="img/projects/checkout-app@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">checkout<br>app for<br>passbook</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/mr.brown-app" class="work-item">
              <img src="img/projects/mr.brown-app.jpg" srcset="img/projects/mr.brown-app@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">mr.brown<br>app</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/6-second-resume-challenge" class="work-item">
              <img src="img/projects/6-second-resume-challenge.jpg" srcset="img/projects/6-second-resume-challenge@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">6-second<br>resume<br>challenge</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/resume-flowchart" class="work-item">
              <img src="img/projects/resume-flowchart.jpg" srcset="img/projects/resume-flowchart@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">resume<br>flowchart</span></div>
          </a>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/nintaro" class="work-item">
              <img src="img/projects/nintaro.jpg" srcset="img/projects/nintaro@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">nintaro<br>japanese<br>teaching<br>materials</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/homey-website-flyer" class="work-item">
              <img src="img/projects/homey-website-flyer.jpg" srcset="img/projects/homey-website-flyer@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">homey<br>hostel<br>flyer</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/homey-hostel-website" class="work-item">
              <img src="img/projects/homey-hostel-website.jpg" srcset="img/projects/homey-hostel-website@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">homey<br>hostel<br>website</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/mrs.guo-branding" class="work-item">
              <img src="img/projects/mrs.guo-branding.jpg" srcset="img/projects/mrs.guo-branding@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">mrs.guo<br>branding</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/streat" class="work-item">
              <img src="img/projects/streat.jpg" srcset="img/projects/streat@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">streat<br>project</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/benefeat" class="work-item">
              <img src="img/projects/benefeat.jpg" srcset="img/projects/benefeat@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">benefeat<br>project</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/paul-niehans-website" class="work-item">
              <img src="img/projects/paul-niehans-website.jpg" srcset="img/projects/paul-niehans-website@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">paul<br>niehans<br>website</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/resume-companion-website" class="work-item">
              <img src="img/projects/esume-companion-website.jpg" srcset="img/projects/esume-companion-website@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">resume<br>companion<br>website</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/airbnb-vs.-lease" class="work-item">
              <img src="img/projects/airbnb-vs.-lease.jpg" srcset="img/projects/airbnb-vs.-lease@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">airbnb vs. lease<br>infographic</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/kny-weather-app" class="work-item">
              <img src="img/projects/kny-weather-app.jpg" srcset="img/projects/kny-weather-app@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">kny<br>taiwan<br>weather<br>app</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/game-time-manager-app" class="work-item">
              <img src="img/projects/game-time-manager-app.jpg" srcset="img/projects/game-time-manager-app@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">game<br>time<br>manager<br>app</span></div>
          </a>
      </div>
            <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="projects/prenup-infographic" class="work-item">
              <img src="img/projects/prenup-infographic.jpg" srcset="img/projects/prenup-infographic@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">prenup<br>infographic</span></div>
          </a>
      </div>
  </div>