<div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/checkout.html" class="work-item">
              <img src="img/works/checkout.jpg" srcset="img/works/checkout@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">checkout<br>app for<br>passbook</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/passes.html" class="work-item">
              <img src="img/works/passes.jpg" srcset="img/works/passes@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">passes<br>app for<br>passbook</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/gtm.html" class="work-item">
              <img src="img/works/gtm.jpg" srcset="img/works/gtm@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">game<br>time<br>manager</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/kny.html" class="work-item">
              <img src="img/works/kny.jpg" srcset="img/works/kny@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">kny<br>taiwan<br>weather</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/nintaro.html" class="work-item">
              <img src="img/works/nintaro.jpg" srcset="img/works/nintaro@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">nintaro<br>japanese<br>teaching<br>materials</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/homey.flyer.html" class="work-item">
              <img src="img/works/homey_flyer.jpg" srcset="img/works/homey_flyer@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">homey<br>hostel<br>flyer</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/xmas.html" class="work-item">
              <img src="img/works/xmas.card.jpg" srcset="img/works/xmas.card@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">x'mas<br>postcard<br>design</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/paul.html" class="work-item">
              <img src="img/works/paul.jpg" srcset="img/works/paul@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">paul<br>niehans<br>website</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/mascots.html" class="work-item">
              <img src="img/works/mascots.jpg" srcset="img/works/mascots@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">some of<br>my graphic<br>designs</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/streat.html" class="work-item">
              <img src="img/works/streat.jpg" srcset="img/works/streat@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">streat<br>project</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/benefeat.html" class="work-item">
              <img src="img/works/benefeat.jpg" srcset="img/works/benefeat@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">benefeat<br>project</span></div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3">
          <a href="works/mrs.guo.html" class="work-item">
              <img src="img/works/mrs.guo.jpg" srcset="img/works/mrs.guo@2x.jpg 2x" alt="">
              <div class="work-item-desc"><span class="text">mrs.guo<br>project</span></div>
          </a>
      </div>
  </div>